# ---> My ignored content
# Ignore git files
.gitattributes

# Ignore user folders and content
.git/
_misc/

# Ignore user files
Thumbs.db
*.ini
*.txt
*.cmd
*.lnk
*.iss
sampleReadme.rtf
Samples/readme.odt
Samples/folders.odg
Samples/folders.vsdx
Samples/folders.png
