# Ignore user folders and content
**/.github/*
.vscode/
.vs/
_misc/
_beta/
Extension/
~$*

# Ignore text, links etc.
*.ini
*.txt
*.cmd
*.lnk
*.iss

# Ignore files
Thumbs.db
sampleReadme.rtf
Samples/readme.rtf
Samples/folders.odg
Samples/folders.vsdx
Samples/folders.png